.container__small-card{
  width: 700px;
  height: 200px;
  margin-right: 20px ;
  margin-bottom: 10px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small__cart-photo > img{
  width: 170px;
  min-width: 200px;
  height: 150px;
  margin-right: 20px;
}

.small-card__title{
  display: flex;
  justify-items: center;
  align-items: center;
}


