<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://i.ytimg.com/vi/UYQNA-MKCA4/maxresdefault.jpg"
                  cardTitle="NEW IRONMAN  IN PARK CENTRAL"
                  cardDescription="Novo filme no cinema em 20 dias.">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM-MznROzp414BOxReQqnb6xi53o_bJLu9vw&s"
                    cardTitle="Conheça os personagens da Marvel que não foram criados por Stan Lee! - Geek City"
    >
    </app-small-card>
    <app-small-card photoCover="https://static.wixstatic.com/media/f24926_e5e5b8a71d514e269005abdcded07d10~mv2.jpg/v1/fill/w_800,h_450,al_c,q_80,enc_auto/f24926_e5e5b8a71d514e269005abdcded07d10~mv2.jpg"
                    cardTitle="10 personagens da Marvel que fazem parte de minorias"
    >
    </app-small-card>
    <app-small-card photoCover="https://rollingstone.com.br/media/uploads/avengers-reprod-marvel.jpg"
                    cardTitle="Marvel: Quais são os três personagens do MCU mais amados pelo público?"
    >
    </app-small-card>


  </div>
</div>
