<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://i.ytimg.com/vi/UYQNA-MKCA4/maxresdefault.jpg"
                  cardTitle="NEW IRONMAN  IN PARK CENTRAL"
                  cardDescription="Novo filme no cinema em 20 dias.">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card photoCover="https://jpimg.com.br/uploads/2024/09/pablo-marcal-750x450.png"
                    cardTitle="NOVA SERIE ANUNCIADA 1"
    >
    </app-small-card>
    <app-small-card photoCover="https://psol50.org.br/file/2021/01/x90511272_SAO-PAULO-SP-15112020PoliticaEleicoes-2020O-candidato-do-PSOL-a-Prefeitura-de-Sao.jpg.pagespeed.ic_.zo5ba3cHGL-696x418.jpg"
                    cardTitle="NOVA SERIE ANUNCIADA 2"
    >
    </app-small-card>
    <app-small-card photoCover="https://f.i.uol.com.br/fotografia/2024/08/14/172368015566bd459b137b2_1723680155_3x2_md.jpg"
                    cardTitle="NOVA SERIE ANUNCIADA 3"
    >
    </app-small-card>


  </div>
</div>
